html {
  background: linear-gradient(#f1e5d1, #dbb5b5);
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.cal {
}

.cal .cal-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  height: 150px;
  word-break: break-all;
}

.cal-header {
  text-align: right;
  background-color: black;
  color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.cal-header > div {
  background-color: white;
}

.cal-body {
  margin-top: -4px;
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cal-header .cal-previous-preview {
  opacity: 0.7;
  font-size: 48px;
  margin-bottom: 10px;
}

.cal-header .cal-current-preview {
  font-size: 48px;
}

.cal .cal-body .cal-space {
  width: 100%;
  display: flex;
}

.cal-space {
  display: flex;

  flex: 1;
  flex-shrink: 0;
  gap: 5px;
  margin-bottom: 4px;
}

.cal-space > button {
  display: flex;
  padding: 45px;
  width: 60px;
  border: none;
  border-radius: 100px;
  height: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.729);
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
}

.cal-space > button.number {
  background-color: rgb(70, 70, 70); /* 원하는 색상으로 변경 */
  color: white;
}
.cal-space > button.operation {
  background-color: rgb(139, 223, 49);
  color: white;
  font-size: 38px;
}

.cal-space .space-2 {
  width: 205px; /* space-2 버튼의 너비를 125px로 설정 */
}

@media (min-width: 601px) {
  .cal-space > button:hover {
    background-color: rgb(227, 227, 227);
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .cal-space > button {
    display: flex;
    padding: 65px;
    width: 60px;
    border: none;
    border-radius: 100px;
    height: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(250 241 255);
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
  }
  .cal-space .space-2 {
    width: 275px; /* space-2 버튼의 너비를 125px로 설정 */
  }
}
